
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#titre {
    font-family: Arial, sans-serif;
    text-decoration: none; /* Removes the underline */
    color: white
}

#titre a:visited {
    text-decoration: none ;
    color: white ;
}

#titre a:hover {
    text-decoration: none; /* Ensures no underline on hover */
    color: #ff7b7b; /* Keeps the text color white on hover */
}

#langue a:visited {
    text-decoration: none ;
    color: white ;
}

#langue a:hover{
    text-decoration: none; /* Ensures no underline on hover */
    color: #ff7b7b;
}


body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #f4f4f4;
    
}

span{
    color: #f4f4f4;
}


header {
    background-color: #111;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 1.5em;
    color: #ff7b7b;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #f4f4f4;
    font-size: 1em;
}

.navbar ul li a:hover {
    color: #ff7b7b;
}


.movie-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
}

.movie-card, .review-card {
    background-color: #222;
    width: 100%; /* Change width to 100% */
    padding: 20px; /* Increase padding for better spacing */
    margin: 10px 10px; /* Adjust margin to add spacing between cards */
    border-radius: 8px;
    text-align: center;
    color: #f4f4f4;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    
}

.movie-card img, .review-card img {
    width: 100%;
    border-radius: 8px;
}

.movie-card h3, .review-card h3 {
    font-size: 1.5em; /* Increase font size for better readability */
    margin: 10px 0;
}

.movie-card .release-date,
.movie-card .overview,
.movie-card .rating,
.review-card .release-date,
.review-card .overview,
.review-card .rating {
    margin: 5px 0;
}

.movie-card .rating, .review-card .rating {
    font-size: 1.2em; /* Increase font size for better readability */
}

.movie-reviews {
    padding: 20px;
}

.movie-reviews h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.review {
    background-color: #333;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.review h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.review p {
    font-size: 1.1em;
}

.reviews-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    width: 100%;
}

.reviews-list li {
    margin: 5px 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

@media (max-width: 768px) {
    .movie-grid {
        flex-direction: column;
        align-items: center;
    }

    .movie-card {
        width: 80%;
    }
}

#movies-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.movie-card {
    width: 150px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.movie-card :hover {
    background-color: #333;
}

.movie-card img {
    width: 100%;
    border-radius: 10px;
}

.movie-card h3 {
    font-size: 1em;
    margin: 10px 0;
}

.movie-card .rating {
    font-size: 1.2em;
    color: gold;
}

#movies-latest {
    display: flex;
    flex-wrap: wrap;  /* Allows wrapping if there are too many cards */
    justify-content: space-around; /* Distribute the cards with space between them */
}

.footer {
    background-color: #1c1c1c; /* Dark background */
    color: #b0b0b0; /* Light gray text */
    text-align: center;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    z-index: 10;
    margin-top: auto;
    position: relative;
    margin: 0;
  }
  
  .footer-links {
    margin-bottom: 15px;
  }
  
  .footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #b0b0b0;
    transition: color 0.3s;
  }
  
  .footer-links a:hover {
    color: #ffffff; /* Highlight link on hover */
  }
  
  .footer-info {
    margin-bottom: 15px;
  }
  
  .footer-info a {
    color: #b0b0b0;
    text-decoration: none;
  }
  
  .footer-info a:hover {
    color: #ffffff;
  }
  

  #overlay {
    position: fixed; /* Ensure the overlay covers the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure this is higher than the footer's z-index */
}

.overlay-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 80%; /* Adjust width for better fit */
    max-width: 500px; /* Limit max width */
    box-sizing: border-box; /* Prevent padding from affecting width calculation */
}

/* Overlay content styles */
.overlay-content {
    display: inline-block;
    background-color: #333; /* Keep the background color */
    padding: 30px;
    border-radius: 10px;
    width: 100%; /* Ensure the content inside takes up full width */
    box-sizing: border-box;
    z-index: 1000; /* Prevent padding from affecting width calculation */
} 





h2 {
    font-size: 24px;
}

/* Input field styles */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="number"],
input[type="date"]  {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button styles */
button {
    padding: 10px 100px;
    margin-top: 10px;
    background-color: #4CAF50; /* Green background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}

/* Close button specific style */
#closeOverlayBtn {
    margin: 10px;
    background-color: #f44336; /* Red background */
}

#closeOverlayBtn:hover {
    background-color: #d32f2f; /* Darker red on hover */
}

/* Style for switching buttons */
#signInBtn, #logInBtn {
    margin: 10px;
    background-color: #2196F3; /* Blue background */
    color: white;
}

#signInBtn:hover, #logInBtn:hover {
    background-color: #1976D2; /* Darker blue on hover */
}

.overlay-button {
    width: 150px; /* Set a fixed width */
    padding: 10px; /* Add padding for better appearance */
    margin: 10px;
    background-color: #2196F3; /* Blue background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#change_Language {
    background-color: rgba(0, 0, 0, 0.0);
    margin: 0; /* Remove any margin */
    padding: 5px; /* Adjust padding as needed */
    display: inline-block; /* Ensure the button is inline */
    font-family: Arial, sans-serif;
    font-size: 1em;
}

#change_Language button {
    font-family: Arial, sans-serif;
    margin: 0 5px; /* Adjust margin between buttons */
    padding: 5px 10px; /* Adjust padding inside buttons */
    font-size: 1em;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-row label {
    margin-right: 10px;
}

.form-row input {
    margin-right: 20px;
    flex: 1;
}

.sort-options {
    margin: 20px 0; /* Add some margin to separate from other elements */
    padding: 10px; /* Add padding for better spacing */
    background-color: #1c1c1c; /* Light background color */
    border-radius: 5px; /* Rounded corners */
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center align items vertically */
}

.sort-options label {
    margin-right: 10px; /* Space between label and select */
    font-family: Arial, sans-serif; /* Font family */
    font-size: 1em; /* Font size */
}

.sort-options select {
    padding: 5px 10px; /* Padding inside the select */
    font-family: Arial, sans-serif; /* Font family */
    font-size: 1em; /* Font size */
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px; /* Rounded corners */
    background-color: #fff; /* White background */
}